<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">        
        <link rel="stylesheet" href="/index.css">
        <title><%= bot.name %></title>    
    </head>
    <body>
        <!--HEADER-->
        <%- include('header'); -%>
        
        <!--MAIN BODY-->
        <div class="d-flex justify-content-center head">
            <h1><b>Kinu : The best discord Bot !</b></h1>
        </div>
        <div class="d-flex justify-content-center subtext">
            <p>Some Moderation commands, Info commands and Music commands !</p>
        </div>

        <div class="container custom-1">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/823245068449611806/824567393123696660/Capturet.PNG">
            <h3 class="align-self-start"><b>Welcome Message and Auto Role</b></h3>
            <p>
                We innovate with a new type of welcome message in the main chat.
            </p>
        </div>

        <div class="container pt-10 custom-3">
            <img src="https://cdn.discordapp.com/attachments/823245068449611806/824569886051139614/Capture.PNG">
            <h3><b>Complete list of Music commands </b></h3>
            <p>
                Kinu is a music bot too ! There is many music commands.
            </p>
        </div>

        <div class="container custom-5 pt-16">
            <h4 class="align-self-start"><b>Easy To Moderate</b></h4>
            <p>
                Kinu has a complete list of moderation commands.
            </p>
        </div>

        <div class="container pt-10 custom-2">
            <img src="https://cdn.discordapp.com/attachments/823245068449611806/824606674546982932/Capture.PNG">
            <h4><b>Very Good Help Command</b></h4>
        </div>
        

       <!--JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>
